# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: BuildAndPush
  displayName: Build image
  jobs:  
  - job: BuildAndPush
    displayName: Build and push
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Login to Docker Hub
      inputs:
        command: login
        containerRegistry: DockerHubConnection       
    - task: Docker@2
      displayName: Build and Push
      inputs:          
        command: buildAndPush
        repository: moayadhassouneh/model-architect-staging        
        Dockerfile: '**/Dockerfile'
        tags: |
          $(tag)
    
